@require './../styles/variables'
@require './../styles/helpers'

#about
	position absolute
	top 0
	left 0
	z-index 1001
	display none
	width 100%
	background-color $bg

	&.visible
		display block

	button
		position fixed
		top 0.75rem
		right 1rem

.content
	margin 0 auto
	padding 1rem
	max-width 40rem

.wordmark
	display block
	margin 0 auto
	width 9rem

	a
		display block
		width 100%
		border none

.recirc
	margin-top 2rem
	padding 0 1rem
	border 4px solid $accent

.terms
	margin-top 2rem

	.terms__hed
		margin-bottom 0.25em
		font-size 1.5em

	strong
		color $accent

	li
		margin-bottom 0.5em
		line-height 1.4

.method
	margin-top 2rem
	margin-bottom 2rem
	padding-top 1rem
	border-top 1px solid $accent