@require './../styles/variables'
@require './../styles/helpers'

article
	position relative
	visibility hidden
	overflow hidden
	padding-top 1rem

	&.loaded
		visibility visible

	&.reveal
		overflow visible

p
	position fixed
	top 50%
	left 50%
	z-index 1000
	color $fg
	text-align center
	text-transform uppercase
	transform translate(-50%, -50%)