@require './../styles/variables'
@require './../styles/helpers'

.right
	display flex
	align-items center

button
	margin-left 0.5rem

.long-prompt
	display none

	&.visible
		display flex
		align-items center

.ui
	display none
	align-items center

	&.visible
		display flex

p.label
	margin-right 0.5em
	margin-left 1em
	text-transform uppercase
	font-weight 700
	font-size 0.75em

.about
	margin-left 1rem