@require './../styles/variables'
@require './../styles/helpers'

#modal
	position fixed
	top $header-height
	right 0
	visibility hidden
	padding 1rem
	width 100%
	height 100vh
	background-color $fg
	color $off-black
	transform translateX(-100%)

	&.visible
		visibility visible

	&.reveal
		transform translateX(0)

	+mq('bp-960')
		width $story-width
		transform translateX(0)

canvas
	margin 0 auto

.scroll
	overflow-y auto
	padding 1rem 0
	height 13rem

	+mq('bp-640h')
		height 14rem

	+mq('bp-700h')
		height 16rem

p.description
	margin 0
	font-size 0.9em
	line-height 1.4

	+mq('bp-640')
		font-size 1.0625em

.explore-nav
	position absolute
	bottom 0
	left 0
	padding 1rem
	width 100%
	text-align center

	button
		background-color lighten($accent, 30)
		box-shadow 2px 2px 0 0 darken($accent, 10)
		color $off-black

		&:hover
			background-color $accent

	+mq('bp-960')
		display none

.story-nav
	position absolute
	bottom 0
	left 0
	display flex
	justify-content space-between
	align-items center
	align-content center
	padding 1rem
	width 100%

	button
		flex 1 0 auto
		padding 0
		width 1.65rem
		height 1.65rem
		border-radius 50%

		&.disable
			opacity 0.25
			cursor not-allowed
			pointer-events none

		&.pulse
			animation pulse 2s infinite

	ul
		display flex
		justify-content center
		width 100%

	li
		margin 0 0.5em
		width 0.5em
		height 0.5em
		background $gray

		&.active
			background-color $black

.person
	position relative

.crew
	position absolute
	top 0
	left 0
	width 100%
	text-align center
	font-size 0.85em
	transform translateY(-200%)

.name
	display flex
	justify-content center
	align-items center
	margin-left 2rem
	text-align center
	line-height 1

	button
		margin-left 0.5rem

	span
		display none

		&.visible
			display inline-block

.info
	display none
	margin 0 auto
	margin-top 1rem
	max-width 21rem

	&.visible
		display block

	p
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items flex-end
		margin 0
		padding-top 0.75rem
		padding-bottom 0.25rem
		border-bottom 1px solid $black
		line-height 1

		.left, .right
			display inline-block
			padding-bottom 0.5rem

		.left
			margin-right 0.5rem
			text-transform uppercase
			font-size 0.75em

		.right
			font-size 0.85em

		&:last-of-type
			border none

.details
	position relative
	display none
	overflow hidden
	margin 0.25rem 0
	height 13rem

	+mq('bp-640h')
		height 14rem

	+mq('bp-700h')
		height 16rem

	&:before
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 1.5rem
		background-image linear-gradient(to top, rgba($fg, 0) 0, $fg 67%, $fg 100%)
		content ''

	&:after
		position absolute
		bottom 0
		left 0
		display block
		width 100%
		height 1.5rem
		background-image linear-gradient(to bottom, rgba($fg, 0) 0, $fg 67%, $fg 100%)
		content ''

	&.visible
		display block

.explore button
	position absolute
	bottom 1rem
	left 50%
	transform translateX(-50%)

	+mq('bp-640')
		display none

@keyframes pulse
	0%
		box-shadow 0 0 0 0 rgba($primary, 1)

	70%
		box-shadow 0 0 0 12px rgba($primary, 0)

	100%
		box-shadow 0 0 0 0 rgba($primary, 0)