// -------------------
// Breakpoints
// -------------------
$mq_vars = {
	bp-320: '(min-width: 320px)',
	bp-480: '(min-width: 480px)',
	bp-640: '(min-width: 640px)',
	bp-750: '(min-width: 750px)',
	bp-800: '(min-width: 800px)',
	bp-960: '(min-width: 960px)',
	bp-600h: '(min-height: 600px)',
	bp-640h: '(min-height: 640px)',
	bp-700h: '(min-height: 700px)',
	hover: '(hover: hover)'
}
// -------------------
// Typefaces
// -------------------
$national = 'National 2 Web'
$sans-fb = Helvetica, Arial, sans-serif
$serif-fb = Georgia, Times, serif
$sans = $national, $sans-fb
$mono = Menlo, Consolas, Monaco, 'Courier New', monospace
// -------------------
// Colors
// -------------------
$black = #000
$off-black = #282828
$gray-dark = #6b6b6b
$gray = #a4a4a4
$gray-light = #d9d9d9
$off-white = #f4f4f4
$white = #fff
$yellow = #FFFD02
$orange = #F75A01
$red = #DD0000
$purple = #17037c
$primary = $orange
$accent = $yellow
$bg = $purple
$fg = $white
$column-width = 40rem
$thumb-size = 80px
$thumb-size-sm = 72px
$header-height = 3rem
$story-width = 432px